<p id="notice"><%= notice %></p>

<h1>Links</h1>

    <% @links.each do |link| %>
      <div class="link row clearfix">
        <%= link_to link.name, link %>
        <br>
        <small>
          Submitted by <%= link.user.email %> <%= time_ago_in_words(link.created_at) %> ago.
        </small>
      </div>
    <% end %>

<br>

<%= link_to 'New Link', new_link_path %>
