<p id="notice"><%= notice %></p>
<div class="page-header">
  <%= link_to @link.name, @link.url %><br/>
  <small>
    Submitted by <%= @link.user.email %> <%= time_ago_in_words(@link.created_at) %> ago.
  </small>  
</div>
<hr>
<div class="container">
  <% @link.comments.each do |comment| %>
    <div class="rounded bg-light mt-1 mb-1">    
      <%= comment.body %>
      <br/>
      <small>
        Submitted by <%= comment.user.email %> <%= time_ago_in_words(comment.created_at) %> ago.
      </small>
    </div>
  <% end %>
</div>
<hr>
<div class="container">
  <h6>New comment:</h6>
  <%= simple_form_for([@link, Comment.new]) do |form| %>
      <%= form.input :body, class: 'form-control' %>
      <%= form.submit 'Save', class: 'btn btn-primary' %>
  <% end %>
</div>
<hr>
<div class="btn-group mt-1">
  <%= link_to 'Back', links_path, class: 'btn btn-primary' %>
<% if @link.user == current_user %>
  <%= link_to 'Edit', edit_link_path(@link), class: 'btn btn-default' %>
  <%= link_to 'Destroy', @link, class: 'btn btn-dafault', method: :delete, data: { confirm: 'Are you sure?' }  %>
<% end %>
</div>

